---
import { getAllProjects } from '../../lib/projects';
import Layout from '../../layouts/Layout.astro';
import Modal from '../components/_NewProjectModal';
import Card from '../../components/Card.astro';

const projects = await getAllProjects();
if (!projects) {
  return new Response(null, {
    status: 404,
    statusText: "Not found",
  });
}
---
<script>
	const token = localStorage.getItem('token');
	if(!token) {
		window.location.replace('/login');
    alert("You must be logged in to view this page.")
	}
</script>
<Layout title="WorkFlowVault">
	<h1 class="text-4xl">My Projects</h1>
	<ul>
    {
      projects.map((project) => (
			<Card href={`/projects/${project._id}`} title={project.title} body={`Due ${project.end}`} />
      ))
    }
  </ul>
	<Modal client:idle/>
</Layout>

