---
import Layout from '../../layouts/Layout.astro';
import { getUserByEmail } from '../../lib/users';
const { params } = Astro;
const userEmail = params.userEmail;

const user = await getUserByEmail(userEmail);
if(!user) {
  return new Response(null, {
    status:404,
    statusText: "User not found",
  });
}

---
<script>
	const token = localStorage.getItem('token');
	if(!token) {
		window.location.replace('/login');
    alert("You must be logged in to view this page.")
	}
</script>

<Layout title="User">
  <h1 class="text-3xl p-1">User information:</h1>

  <dl class="max-w-md text-gray-900 divide-y divide-gray-200 dark:text-white dark:divide-gray-700 p-2">
    <div class="flex flex-col pb-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Name</dt>
        <dd class="text-lg font-semibold">{user.name}</dd>
    </div>
    <div class="flex flex-col py-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Email address</dt>
        <dd class="text-lg font-semibold">{user.email}</dd>
    </div>
    <div class="flex flex-col pt-3">
        <dt class="mb-1 text-gray-500 md:text-lg dark:text-gray-400">Company</dt>
        <dd class="text-lg font-semibold">{user.company}</dd>
    </div>
</dl>

</Layout>